<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تفریحی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم به پیشبینی دلیل سفر کاربران بپردازیم. برخی از کاربران مستربلیط به دلیل کاری و برخی دیگر به دلایل تفریحی به سفر می‌روند. به منظور شخصی‌سازی بیشتر و دقیق‌تر، مستربلیط قصد دارد بداند هر بلیط به چه دلیلی رزرو می‌شود.
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که تفریحی یا کاری بودن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>TripReason</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [2]:
train_data = pd.read_csv('../data/train_data.csv')
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,NaN,2022-06-04 12:10:00,37579327,1050781.0,5,NaN,True,5900000.0,0.0,...,1,بوئینگ 737,False,Int,Plane,0,NaN,NaN,605105141718,103215806
101013,2022-10-29 20:54:31.330,NaN,2022-11-01 15:30:00,39789479,3085407.0,2,403095.0,True,926500.0,0.0,...,1,4 ستاره اتوبوسي نگين,NaN,Work,Train,0,NaN,NaN,414997568556,193262890
101014,2022-09-03 17:57:22.067,NaN,2022-09-13 09:30:00,38991563,2322052.0,5,528307.0,True,30000000.0,0.0,...,0,NaN,False,Int,InternationalPlane,0,47b8f2d9b5de7e0e0e7234c18a1aa0c4b35798e6cb46b4...,a4dcb7941ee3c8f7b1fc6a171015692bc961d65a84ad47...,99460830937,34732401
101015,2022-09-29 13:15:51.303,NaN,2022-09-29 17:30:00,39406503,7664730.0,3,797946.0,True,980000.0,0.0,...,1,25 نفره (VIP),True,Work,Bus,0,NaN,718bc52c3e88520531463b385998a1193e2821d518b60b...,487489926847,458338866
101016,2022-03-31 13:29:11.530,NaN,2022-04-05 17:10:00,36742809,2711094.0,2,NaN,True,3168000.0,0.0,...,1,4 ستاره 4 تخته ارگ,NaN,Work,Train,0,NaN,da0821178342aeaab37bb1e44c162660c7d3196ae2f987...,146462381941,999949622

In [3]:
test_data = pd.read_csv('../data/test_data.csv')
test_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-22 12:52:35.293,NaN,2022-08-03 17:00:00,38372770,7429183.0,3,NaN,False,1220000.0,0.0,...,اصفهان,1,ماهانVIP مانیتوردار کاوه,True,Bus,0,NaN,7ec2bc45a1a56014c60beb9e6ae72e748563f270b5961e...,855578545022,752371627
1,2022-05-16 10:55:29.397,2022-05-18 11:35:15.643,2022-05-19 17:00:00,37348034,7147402.0,5,NaN,True,2830000.0,0.0,...,قم,1,VIP 2+1 / سیستم تهویه مطبوع / تخت شو,True,Bus,1,NaN,09731a27ab7323fa8a65a5d61a6f6cdf5b127a5d89d1af...,687891042993,926996211
2,2022-02-13 16:10:33.870,NaN,2022-02-15 22:45:00,36058084,6817410.0,3,NaN,True,1480000.0,0.0,...,اردبیل,1,25 نفره (VIP),True,Bus,0,NaN,NaN,515831406373,890191812
3,2022-05-01 17:56:18.530,NaN,2022-05-06 14:30:00,37140430,7093047.0,3,NaN,False,2450000.0,0.0,...,شیراز,1,Scania VIP 2+1,True,Bus,0,NaN,NaN,349742111820,941450742
4,2022-05-19 18:40:48.760,NaN,2022-05-21 12:30:00,37393459,2789874.0,2,135424.0,True,1965500.0,0.0,...,تهران,1,3 ستاره 6 تخته كوير,NaN,Train,0,NaN,a9b7344fa6dffcd85117f3b4209a379600a66019dbfb57...,63387630789,575541645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-10-06 16:57:16.053,NaN,2022-10-07 21:00:00,39515216,7693401.0,3,NaN,True,800000.0,0.0,...,زاهدان,1,classicus 2+2,True,Bus,0,NaN,084471d0e58161bf494c8d540208e17d2b3cb0ea3eff70...,793972140866,560495589
43289,2022-06-14 13:19:26.413,NaN,2022-06-18 07:15:00,37773311,1055789.0,5,NaN,False,7827000.0,0.0,...,تهران,1,NaN,False,Plane,0,NaN,NaN,574095530769,194295556
43290,2022-10-23 15:48:03.947,NaN,2022-10-23 20:25:00,39714891,7747506.0,3,NaN,False,370000.0,0.0,...,قم,1,مارال تک صندلی ۳۰نفره,True,Bus,0,NaN,NaN,82614935547,704290882
43291,2022-09-18 21:18:01.730,2022-09-19 15:40:44.707,2022-09-20 20:00:00,39215621,7620724.0,5,950877.0,True,2520000.0,0.0,...,مسجدسلیمان,1,VIP 2+1 / شارژر یو اس بی / سیستم تهویه مطبوع ...,True,Bus,1,NaN,57f1cffdba91d23d66f923c5defcd40caa8d317f8bcfbc...,242545550300,513968890
43292,2022-07-27 22:08:17.510,2022-07-30 19:19:29.357,2022-08-03 21:00:00,38449571,7451530.0,5,633165.0,True,2150000.0,0.0,...,تهران,1,VIP درسا مانیتوردار با پک بهداشتی,True,Bus,1,NaN,NaN,965279078669,20749399

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [4]:
train_data.TripReason.value_counts()

Work    56448
Int     44569
Name: TripReason, dtype: int64

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101017 entries, 0 to 101016
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Created               101017 non-null  object
 1   CancelTime            15326 non-null   object
 2   DepartureTime         101017 non-null  object
 3   BillID                101017 non-null  int64
 4   TicketID              101017 non-null  float64
 5   ReserveStatus         101017 non-null  int64
 6   UserID                42543 non-null   float64
 7   Male                  101017 non-null  bool
 8   Price                 101017 non-null  float64
 9   CouponDiscount        101017 non-null  float64
 10  From                  101017 non-null  object
 11  To                    101017 non-null  object
 12  Domestic              101017 non-null  int64
 13  VehicleType           93473 non-null   object
 14  VehicleClass          62567 non-null   object
 15  TripReason            101017 non-null  object
 16  Vehicle               101017 non-null  object
 17  Cancel                101017 non-null  int64
 18  HashPassportNumber_p  862 non-null     object
 19  HashEmail             43084 non-null   object
 20  BuyerMobile           101017 non-null  int64
 21  NationalCode          101017 non-null  int64
dtypes: bool(1), float64(4), int64(6), object(11)
memory usage: 16.3+ MB

In [6]:
train_data.isnull().sum()

Created                      0
CancelTime               85691
DepartureTime                0
BillID                       0
TicketID                     0
ReserveStatus                0
UserID                   58474
Male                         0
Price                        0
CouponDiscount               0
From                         0
To                           0
Domestic                     0
VehicleType               7544
VehicleClass             38450
TripReason                   0
Vehicle                      0
Cancel                       0
HashPassportNumber_p    100155
HashEmail                57933
BuyerMobile                  0
NationalCode                 0
dtype: int64

In [7]:
train_data.drop(columns = ['From', 'To', 'HashEmail', 'HashPassportNumber_p', 'UserID', 'BuyerMobile', 'NationalCode', 'TicketID', 'BillID', 'VehicleType', 'CancelTime'], inplace = True)

In [8]:
test_data.drop(columns = ['From', 'To', 'HashEmail', 'HashPassportNumber_p', 'UserID', 'BuyerMobile', 'NationalCode', 'TicketID', 'BillID', 'VehicleType', 'CancelTime'], inplace = True)

In [10]:
train_data.shape

(101017, 11)

In [12]:
columns = ['VehicleClass']

In [16]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'most_frequent')
train_data[columns] = imputer.fit_transform(train_data[columns])

In [17]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'most_frequent')
test_data[columns] = imputer.fit_transform(test_data[columns])

In [18]:
numeric_columns = train_data.select_dtypes(include = ['int64','float64']).columns.tolist()
numeric_columns

['ReserveStatus', 'Price', 'CouponDiscount', 'Domestic', 'Cancel']

In [19]:
test_data.isnull().sum()

Created           0
DepartureTime     0
ReserveStatus     0
Male              0
Price             0
CouponDiscount    0
Domestic          0
VehicleClass      0
Vehicle           0
Cancel            0
dtype: int64

In [20]:
train_data.isnull().sum()

Created           0
DepartureTime     0
ReserveStatus     0
Male              0
Price             0
CouponDiscount    0
Domestic          0
VehicleClass      0
TripReason        0
Vehicle           0
Cancel            0
dtype: int64

In [22]:
for column in numeric_columns:
    Q1 = train_data[numeric_columns].quantile(0.25)
    Q3 = train_data[numeric_columns].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    train_data[numeric_columns] = train_data[numeric_columns].where((train_data[numeric_columns] >= lower_bound) & (train_data[numeric_columns] <= upper_bound))

In [23]:
train_data.isnull().sum()

Created               0
DepartureTime         0
ReserveStatus         0
Male                  0
Price             18337
CouponDiscount     6016
Domestic            795
VehicleClass          0
TripReason            0
Vehicle               0
Cancel            15316
dtype: int64

In [24]:
from sklearn.impute import SimpleImputer
inputer = SimpleImputer(strategy = 'mean')
train_data[numeric_columns] = imputer.fit_transform(train_data[numeric_columns])

In [25]:
train_data.isnull().sum()

Created           0
DepartureTime     0
ReserveStatus     0
Male              0
Price             0
CouponDiscount    0
Domestic          0
VehicleClass      0
TripReason        0
Vehicle           0
Cancel            0
dtype: int64

In [26]:
for column in numeric_columns:
    Q1 = test_data[numeric_columns].quantile(0.25)
    Q3 = test_data[numeric_columns].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    test_data[numeric_columns] = test_data[numeric_columns].where((test_data[numeric_columns] >= lower_bound) & (test_data[numeric_columns] <= upper_bound))

In [27]:
test_data[numeric_columns] = imputer.fit_transform(test_data[numeric_columns])

In [28]:
test_data.isnull().sum()

Created           0
DepartureTime     0
ReserveStatus     0
Male              0
Price             0
CouponDiscount    0
Domestic          0
VehicleClass      0
Vehicle           0
Cancel            0
dtype: int64

In [30]:
train_data['Created'] = pd.to_datetime(train_data['Created'])
train_data['DepartureTime'] = pd.to_datetime(train_data['DepartureTime'])

In [31]:
train_data['Created_Month'] = train_data['Created'].dt.month
train_data['Created_DayOfWeek'] = train_data['Created'].dt.dayofweek

train_data['Departure_Month'] = train_data['DepartureTime'].dt.month
train_data['Departure_DayOfWeek'] = train_data['DepartureTime'].dt.dayofweek

In [32]:
train_data.head()

,Created,DepartureTime,ReserveStatus,Male,Price,CouponDiscount,Domestic,VehicleClass,TripReason,Vehicle,Cancel,Created_Month,Created_DayOfWeek,Departure_Month,Departure_DayOfWeek
0,2022-10-23 09:38:49.110,2022-11-02 23:59:00,5.0,True,1220000.0,0.0,1.0,False,Work,Plane,0.0,10,6,11,2
1,2022-08-15 14:51:43.160,2022-08-18 04:15:00,5.0,True,1220000.0,0.0,1.0,False,Int,Plane,0.0,8,0,8,3
2,2022-09-20 17:25:27.250,2022-09-21 11:00:00,3.0,False,2000000.0,0.0,1.0,True,Work,Bus,0.0,9,1,9,2
3,2022-06-25 11:32:53.980,2022-06-26 08:30:00,2.0,False,40000.0,0.0,1.0,True,Int,Train,0.0,6,5,6,6
4,2022-06-01 11:30:53.633,2022-06-02 23:00:00,3.0,True,1130000.0,0.0,1.0,True,Int,Bus,0.0,6,2,6,3

In [33]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

In [35]:
train_data['Created_Season'] = train_data['Created_Month'].apply(get_season)
train_data['Departure_Season'] = train_data['Departure_Month'].apply(get_season)

In [36]:
train_data.head()

,Created,DepartureTime,ReserveStatus,Male,Price,CouponDiscount,Domestic,VehicleClass,TripReason,Vehicle,Cancel,Created_Month,Created_DayOfWeek,Departure_Month,Departure_DayOfWeek,Created_Season,Departure_Season
0,2022-10-23 09:38:49.110,2022-11-02 23:59:00,5.0,True,1220000.0,0.0,1.0,False,Work,Plane,0.0,10,6,11,2,Fall,Fall
1,2022-08-15 14:51:43.160,2022-08-18 04:15:00,5.0,True,1220000.0,0.0,1.0,False,Int,Plane,0.0,8,0,8,3,Summer,Summer
2,2022-09-20 17:25:27.250,2022-09-21 11:00:00,3.0,False,2000000.0,0.0,1.0,True,Work,Bus,0.0,9,1,9,2,Fall,Fall
3,2022-06-25 11:32:53.980,2022-06-26 08:30:00,2.0,False,40000.0,0.0,1.0,True,Int,Train,0.0,6,5,6,6,Summer,Summer
4,2022-06-01 11:30:53.633,2022-06-02 23:00:00,3.0,True,1130000.0,0.0,1.0,True,Int,Bus,0.0,6,2,6,3,Summer,Summer

In [37]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101017 entries, 0 to 101016
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Created              101017 non-null  datetime64[ns]
 1   DepartureTime        101017 non-null  datetime64[ns]
 2   ReserveStatus        101017 non-null  float64
 3   Male                 101017 non-null  bool
 4   Price                101017 non-null  float64
 5   CouponDiscount       101017 non-null  float64
 6   Domestic             101017 non-null  float64
 7   VehicleClass         101017 non-null  object
 8   TripReason           101017 non-null  object
 9   Vehicle              101017 non-null  object
 10  Cancel               101017 non-null  float64
 11  Created_Month        101017 non-null  int64
 12  Created_DayOfWeek    101017 non-null  int64
 13  Departure_Month      101017 non-null  int64
 14  Departure_DayOfWeek  101017 non-null  int64
 15  Created_Season       101017 non-null  object
 16  Departure_Season     101017 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(5), int64(4), object(5)
memory usage: 12.4+ MB

# repead for Test_data

In [43]:
test_data['Created'] = pd.to_datetime(test_data['Created'])
test_data['DepartureTime'] = pd.to_datetime(test_data['DepartureTime'])

In [44]:
test_data['Created_Month'] = test_data['Created'].dt.month
test_data['Created_DayOfWeek'] = test_data['Created'].dt.dayofweek

test_data['Departure_Month'] = test_data['DepartureTime'].dt.month
test_data['Departure_DayOfWeek'] = test_data['DepartureTime'].dt.dayofweek

In [45]:
test_data['Created_Season'] = test_data['Created_Month'].apply(get_season)
test_data['Departure_Season'] = test_data['Departure_Month'].apply(get_season)

In [47]:
train_data.drop(columns = ['DepartureTime',  'Created'], inplace = True)

In [48]:
test_data.drop(columns = ['DepartureTime',  'Created'], inplace = True)

In [49]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43293 entries, 0 to 43292
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ReserveStatus        43293 non-null  float64
 1   Male                 43293 non-null  bool
 2   Price                43293 non-null  float64
 3   CouponDiscount       43293 non-null  float64
 4   Domestic             43293 non-null  float64
 5   VehicleClass         43293 non-null  object
 6   Vehicle              43293 non-null  object
 7   Cancel               43293 non-null  float64
 8   Created_Month        43293 non-null  int64
 9   Created_DayOfWeek    43293 non-null  int64
 10  Departure_Month      43293 non-null  int64
 11  Departure_DayOfWeek  43293 non-null  int64
 12  Created_Season       43293 non-null  object
 13  Departure_Season     43293 non-null  object
dtypes: bool(1), float64(5), int64(4), object(4)
memory usage: 4.3+ MB

In [50]:
test_data.head()

,ReserveStatus,Male,Price,CouponDiscount,Domestic,VehicleClass,Vehicle,Cancel,Created_Month,Created_DayOfWeek,Departure_Month,Departure_DayOfWeek,Created_Season,Departure_Season
0,3.0,False,1220000.0,0.0,1.0,True,Bus,0.0,7,4,8,2,Summer,Summer
1,5.0,True,2830000.0,0.0,1.0,True,Bus,0.0,5,0,5,3,Spring,Spring
2,3.0,True,1480000.0,0.0,1.0,True,Bus,0.0,2,6,2,1,Winter,Winter
3,3.0,False,2450000.0,0.0,1.0,True,Bus,0.0,5,6,5,4,Spring,Spring
4,2.0,True,1965500.0,0.0,1.0,True,Train,0.0,5,3,5,5,Spring,Spring

# Encoder

In [51]:
from sklearn.preprocessing import LabelEncoder
columns = ['Male', 'VehicleClass']
label_encoder = LabelEncoder()

In [53]:
for column in columns:
    train_data[column] = label_encoder.fit_transform(train_data[column])
    test_data[column] = label_encoder.transform(test_data[column])

In [55]:
train_data['TripReason'] = label_encoder.fit_transform(train_data['TripReason'])

In [58]:
columns = [ 'Vehicle', 'Created_Season', 'Departure_Season']

In [59]:
dumy_train = pd.get_dummies(train_data[columns]).astype('int64')

In [60]:
train_data = pd.concat([train_data, dumy_train], axis = 1)
train_data.drop(train_data[columns], axis = 1, inplace = True)

In [61]:
train_data.head()

,ReserveStatus,Male,Price,CouponDiscount,Domestic,VehicleClass,TripReason,Cancel,Created_Month,Created_DayOfWeek,...,Vehicle_Plane,Vehicle_Train,Created_Season_Fall,Created_Season_Spring,Created_Season_Summer,Created_Season_Winter,Departure_Season_Fall,Departure_Season_Spring,Departure_Season_Summer,Departure_Season_Winter
0,5.0,1,1220000.0,0.0,1.0,0,1,0.0,10,6,...,1,0,1,0,0,0,1,0,0,0
1,5.0,1,1220000.0,0.0,1.0,0,0,0.0,8,0,...,1,0,0,0,1,0,0,0,1,0
2,3.0,0,2000000.0,0.0,1.0,1,1,0.0,9,1,...,0,0,1,0,0,0,1,0,0,0
3,2.0,0,40000.0,0.0,1.0,1,0,0.0,6,5,...,0,1,0,0,1,0,0,0,1,0
4,3.0,1,1130000.0,0.0,1.0,1,0,0.0,6,2,...,0,0,0,0,1,0,0,0,1,0

In [62]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101017 entries, 0 to 101016
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ReserveStatus               101017 non-null  float64
 1   Male                        101017 non-null  int64
 2   Price                       101017 non-null  float64
 3   CouponDiscount              101017 non-null  float64
 4   Domestic                    101017 non-null  float64
 5   VehicleClass                101017 non-null  int64
 6   TripReason                  101017 non-null  int64
 7   Cancel                      101017 non-null  float64
 8   Created_Month               101017 non-null  int64
 9   Created_DayOfWeek           101017 non-null  int64
 10  Departure_Month             101017 non-null  int64
 11  Departure_DayOfWeek         101017 non-null  int64
 12  Vehicle_Bus                 101017 non-null  int64
 13  Vehicle_InternationalPlane  101017 non-null  int64
 14  Vehicle_Plane               101017 non-null  int64
 15  Vehicle_Train               101017 non-null  int64
 16  Created_Season_Fall         101017 non-null  int64
 17  Created_Season_Spring       101017 non-null  int64
 18  Created_Season_Summer       101017 non-null  int64
 19  Created_Season_Winter       101017 non-null  int64
 20  Departure_Season_Fall       101017 non-null  int64
 21  Departure_Season_Spring     101017 non-null  int64
 22  Departure_Season_Summer     101017 non-null  int64
 23  Departure_Season_Winter     101017 non-null  int64
dtypes: float64(5), int64(19)
memory usage: 18.5 MB

In [63]:
dumy_test = pd.get_dummies(test_data[columns]).astype('int64')

In [64]:
test_data = pd.concat([test_data, dumy_test], axis = 1)
test_data.drop(test_data[columns], axis = 1, inplace = True)

In [65]:
test_data.head()

,ReserveStatus,Male,Price,CouponDiscount,Domestic,VehicleClass,Cancel,Created_Month,Created_DayOfWeek,Departure_Month,...,Vehicle_Plane,Vehicle_Train,Created_Season_Fall,Created_Season_Spring,Created_Season_Summer,Created_Season_Winter,Departure_Season_Fall,Departure_Season_Spring,Departure_Season_Summer,Departure_Season_Winter
0,3.0,0,1220000.0,0.0,1.0,1,0.0,7,4,8,...,0,0,0,0,1,0,0,0,1,0
1,5.0,1,2830000.0,0.0,1.0,1,0.0,5,0,5,...,0,0,0,1,0,0,0,1,0,0
2,3.0,1,1480000.0,0.0,1.0,1,0.0,2,6,2,...,0,0,0,0,0,1,0,0,0,1
3,3.0,0,2450000.0,0.0,1.0,1,0.0,5,6,5,...,0,0,0,1,0,0,0,1,0,0
4,2.0,1,1965500.0,0.0,1.0,1,0.0,5,3,5,...,0,1,0,1,0,0,0,1,0,0

In [66]:
train_data['TripReason'].value_counts()

1    56448
0    44569
Name: TripReason, dtype: int64

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    بر خلاف سایر تمرین‌های کالج، در این تمرین شما مجاز هستید از هر مدلی که آموخته‌اید استفاده کنید. به عبارت بهتر، هدف این سوال پیش‌بینی هرچه بهتر متغیر هدف مسئله است. انتظار ما این است که نحوه کار با کتابخانه‌های یادگیری ماشین را در حدی آموخته باشید که بتوانید با بهترین عملکرد، مسئله را حل کنید!
</font>
</p>

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
X_train, X_val, y_train, y_val = train_test_split(train_data.drop('TripReason', axis = 1), train_data.TripReason, test_size = 0.2, random_state = 42)

In [76]:
from flaml import AutoML 
model = AutoML(task = 'classification' , metric = 'macro_f1', timebudget = 60)
model.fit(X_train, y_train)
y_pred = model.predict(X_val)
f1_score(y_val, y_pred)

[flaml.automl: 11-17 15:15:44] {2599} INFO - task = classification
[flaml.automl: 11-17 15:15:44] {2601} INFO - Data split method: stratified
[flaml.automl: 11-17 15:15:44] {2604} INFO - Evaluation method: holdout
[flaml.automl: 11-17 15:15:44] {2726} INFO - Minimizing error metric: 1-macro_f1
[flaml.automl: 11-17 15:15:44] {2776} WARNING - No search budget is provided via time_budget or max_iter. Training only one model per estimator. To tune hyperparameters for each estimator, please provide budget either via time_budget or max_iter.
[flaml.automl: 11-17 15:15:44] {2870} INFO - List of ML learners in AutoML Run: ['xgboost', 'lgbm', 'rf', 'extra_tree', 'xgb_limitdepth', 'lrl1']
[flaml.automl: 11-17 15:15:44] {3166} INFO - iteration 0, current learner xgboost
C:\Users\hahmadi\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\sklearn.py:1421: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
[flaml.automl: 11-17 15:17:07] {3296} INFO - Estimated sufficient time budget=827212s. Estimated necessary time budget=11917s.
[flaml.automl: 11-17 15:17:07] {3343} INFO -  at 83.2s,	estimator xgboost's best error=0.2519,	best estimator xgboost's best error=0.2519
[flaml.automl: 11-17 15:17:07] {3166} INFO - iteration 1, current learner lgbm
[flaml.automl: 11-17 15:17:53] {3343} INFO -  at 129.8s,	estimator lgbm's best error=0.2444,	best estimator lgbm's best error=0.2444
[flaml.automl: 11-17 15:17:53] {3166} INFO - iteration 2, current learner rf
[flaml.automl: 11-17 15:18:02] {3343} INFO -  at 138.8s,	estimator rf's best error=0.2439,	best estimator rf's best error=0.2439
[flaml.automl: 11-17 15:18:02] {3166} INFO - iteration 3, current learner extra_tree
[flaml.automl: 11-17 15:18:22] {3343} INFO -  at 158.3s,	estimator extra_tree's best error=0.2427,	best estimator extra_tree's best error=0.2427
[flaml.automl: 11-17 15:18:22] {3166} INFO - iteration 4, current learner xgb_limitdepth
C:\Users\hahmadi\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\sklearn.py:1421: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
[flaml.automl: 11-17 15:18:49] {3343} INFO -  at 185.4s,	estimator xgb_limitdepth's best error=0.2442,	best estimator extra_tree's best error=0.2427
[flaml.automl: 11-17 15:18:49] {3166} INFO - iteration 5, current learner lrl1
C:\Users\hahmadi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
[flaml.automl: 11-17 15:18:52] {3343} INFO -  at 188.1s,	estimator lrl1's best error=0.6412,	best estimator extra_tree's best error=0.2427
[flaml.automl: 11-17 15:19:01] {3602} INFO - retrain extra_tree for 9.3s
[flaml.automl: 11-17 15:19:01] {3609} INFO - retrained model: ExtraTreesClassifier(max_features=0.46132798093546956, max_leaf_nodes=12856,
                     n_estimators=383, n_jobs=-1)
[flaml.automl: 11-17 15:19:01] {2901} INFO - fit succeeded
[flaml.automl: 11-17 15:19:01] {2902} INFO - Time taken to find the best model: 158.31991577148438

0.8049943639989596

In [78]:
model

AttributeError: 'AutoML' object has no attribute 'summary'

In [72]:
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=1, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه داده آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [79]:
from sklearn.metrics import classification_report, f1_score
y_pred = model.predict(X_val)
print(classification_report(y_val, y_pred))
print(f1_score(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.72      0.74      8970
           1       0.78      0.83      0.80     11234

    accuracy                           0.78     20204
   macro avg       0.78      0.77      0.77     20204
weighted avg       0.78      0.78      0.78     20204

0.8049943639989596

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>75%</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|TripReason|دلیل سفر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>TripReason</i> است و ۴۳۲۹۳ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>TripReason</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||TripReason|
|----|-----|
|0|Work|
|1|Work|
|2|Int|
|3|Int|
|4|Work|

</font>
</div>

In [80]:
y_predTest = model.predict(test_data)

In [81]:
submission = pd.DataFrame({'TripReason': y_predTest})
submission['TripReason'] = submission['TripReason'].map({0: 'Int', 1: 'Work'})

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [82]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)
            
submission.to_csv('submission.csv', index=False)
file_names = ['tafrihi.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['tafrihi.ipynb', 'submission.csv']