<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
امید به زندگی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
به تمرین «امید به زندگی» خوش آمدید :)
    <br>
    هدف این تمرین این است که با مورد بررسی قرار دادن شاخص‌های بهداشتی، مالی و کشوری، امید به زندگی کشورها را پیش‌بینی کنیم.
    <br>
    امید به زندگی یا متوسط طول عمر (به انگلیسی: Life Expectancy) یک شاخص آماری است که نشان می‌دهد اعضای یک جامعه به‌طور میانگین چقدر عمر می‌کنند، یا به عبارت دیگر، انتظار می‌رود چقدر عمر کنند. اطلاعات بیشتر درباره‌ی امید به زندگی را می‌توانید در 
<a href="https://fa.wikipedia.org/wiki/%D8%A7%D9%85%DB%8C%D8%AF_%D8%A8%D9%87_%D8%B2%D9%86%D8%AF%DA%AF%DB%8C">ویکی‌پدیا</a> 
    مطالعه کنید.
    
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
مجموعه‌داده‌ی آموزشی مسئله دارای ۲۸۴۸ سطر و ۱۸ ستون است.
    ۱۷ ستون مربوط به متغیرهای مستقل و ستون آخر هم نشانگر متغیر وابسته مسئله است.
    <br>
    در جدول زیر توضیح هر ستون را مشاهده می‌کنید. هر سطر مربوط به اطلاعات یک کشور است که در یک سال مشخص رکورد شده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|<code>Country</code>|کشور مورد مطالعه|
|<code>Year</code>|سال|
|<code>Status</code>|وضعیت توسعه‌یافتگی کشور|
|<code>Population</code>|جمعیت کشور|
|<code>Hepatitis B</code>|درصد افراد نهایتاً یک ساله‌ای که در برابر هپاتیت ب ایمن شده‌اند|
|<code>Measles</code>|تعداد موارد مبتلا به سرخک گزارش شده در هر ۱۰۰۰ نفر|
|<code>Polio</code>|درصد افراد نهایتاً یک ساله‌ای که در برابر فلج اطفال ایمن شده‌اند|
|<code>Diphtheria</code>|درصد افراد نهایتاً یک ساله‌ای که در برابر دیفتری ایمن شده‌اند|
|<code>HIV/AIDS</code>|تعداد فوتی‌های ناشی از ایدز افراد نهایتاً ۴ ساله‌ای که زنده به دنیا آمده‌اند در هر ۱۰۰۰ نفر|
|<code>infant deaths</code>|تعداد فوتی‌های نوزادان در هر ۱۰۰۰ نفر|
|<code>under-five deaths</code>|تعداد فوتی‌های افراد نهایتاً ۵ ساله در هر ۱۰۰۰ نفر|
|<code>Total expenditure</code>|نسبت هزینه‌های درمانی-بهداشتی دولت به کل هزینه‌های دولت بر حسب درصد|
|<code>GDP</code>|تولید ناخالص ملی بر حسب دلار امریکا|
|<code>BMI</code>|میانگین شاخص توده بدنی کل جمعیت کشور|
|<code>thinness 1-19 years</code>|میزان شیوع لاغری میان افراد نهایتاً ۱۹ ساله بر حسب درصد|
|<code>Alcohol</code>|میزان لیتر مصرف الکل بین افراد بیشتر از ۱۵ سال|
|<code>Schooling</code>|تعداد سالی که افراد تحصیل می‌کنند|
|<code>Life expectancy</code>|امید به زندگی یا متوسط طول عمر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     مجموعه‌ی آزمون (تست) مانند مجموعه‌ی آموزش است با این تفاوت که ستون <code>Life expectancy</code> را ندارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید مقدار متغیر هدف آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از مجموعه‌ی آموزش را به عنوان مجموعه‌ی اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [2]:
train_data = pd.read_csv('../data/train.csv')
train_data

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Zimbabwe,2004,Developing,12777511.0,68.0,31,67.0,65.0,33.6,27,42,7.13,454.366654,27.1,9.4,4.36,9.2,44.3
2844,Zimbabwe,2003,Developing,12633897.0,7.0,998,7.0,68.0,36.7,26,41,6.52,453.351155,26.7,9.8,4.06,9.5,44.5
2845,Zimbabwe,2002,Developing,125525.0,73.0,304,73.0,71.0,39.8,25,40,6.53,57.348340,26.3,1.2,4.43,10.0,44.8
2846,Zimbabwe,2001,Developing,12366165.0,76.0,529,76.0,75.0,42.1,25,39,6.16,548.587312,25.9,1.6,1.72,9.8,45.3
2847,Zimbabwe,2000,Developing,12222251.0,79.0,1483,78.0,78.0,43.5,24,39,7.10,547.358878,25.5,11.0,1.68,9.8,46.0

In [3]:
Test_data = pd.read_csv('../data/test.csv')
Test_data

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,Burundi,2015,Developing,119927.0,94.0,9,94.0,94.0,0.7,21,31,NaN,33.681223,18.7,7.3,NaN,10.6
1,Burundi,2014,Developing,989179.0,95.0,0,95.0,95.0,0.7,22,32,7.54,312.748979,18.2,7.4,0.01,10.6
2,Burundi,2013,Developing,96186.0,96.0,0,96.0,96.0,1.0,22,32,8.30,282.755525,17.6,7.4,0.01,10.5
3,Burundi,2012,Developing,931971.0,96.0,49,96.0,96.0,1.2,22,33,8.21,265.285651,17.1,7.5,0.01,10.3
4,Burundi,2011,Developing,94358.0,96.0,129,95.0,96.0,1.5,22,33,8.58,26.479973,16.6,7.6,4.16,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Papua New Guinea,2004,Developing,6161517.0,6.0,1385,59.0,62.0,1.5,11,15,8.39,637.361621,4.4,1.5,0.58,7.6
76,Papua New Guinea,2003,Developing,61724.0,67.0,3863,62.0,68.0,1.4,11,14,6.79,588.358260,39.6,1.5,0.59,7.2
77,Papua New Guinea,2002,Developing,5862316.0,6.0,17620,54.0,61.0,1.4,11,14,7.69,511.665773,38.9,1.5,0.61,6.9
78,Papua New Guinea,2001,Developing,5716152.0,59.0,4023,52.0,55.0,1.3,11,14,6.68,539.415280,38.2,1.5,0.68,6.6
79,Papua New Guinea,2000,Developing,5572222.0,57.0,7135,51.0,59.0,1.1,11,14,3.98,631.946853,37.5,1.6,0.73,6.2

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [4]:
target = train_data['Life expectancy']
train_data.drop(columns = 'Life expectancy', inplace = True)

In [5]:
train_data.isnull().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                      32
thinness  1-19 years     32
Alcohol                 188
Schooling               160
dtype: int64

In [6]:
train_data.isnull().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                      32
thinness  1-19 years     32
Alcohol                 188
Schooling               160
dtype: int64

In [7]:
Test_data.head()

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,Burundi,2015,Developing,119927.0,94.0,9,94.0,94.0,0.7,21,31,NaN,33.681223,18.7,7.3,NaN,10.6
1,Burundi,2014,Developing,989179.0,95.0,0,95.0,95.0,0.7,22,32,7.54,312.748979,18.2,7.4,0.01,10.6
2,Burundi,2013,Developing,96186.0,96.0,0,96.0,96.0,1.0,22,32,8.30,282.755525,17.6,7.4,0.01,10.5
3,Burundi,2012,Developing,931971.0,96.0,49,96.0,96.0,1.2,22,33,8.21,265.285651,17.1,7.5,0.01,10.3
4,Burundi,2011,Developing,94358.0,96.0,129,95.0,96.0,1.5,22,33,8.58,26.479973,16.6,7.6,4.16,9.9

In [8]:
Test_data.drop(columns = 'Country', inplace = True)
Test_data.head()

,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,2015,Developing,119927.0,94.0,9,94.0,94.0,0.7,21,31,NaN,33.681223,18.7,7.3,NaN,10.6
1,2014,Developing,989179.0,95.0,0,95.0,95.0,0.7,22,32,7.54,312.748979,18.2,7.4,0.01,10.6
2,2013,Developing,96186.0,96.0,0,96.0,96.0,1.0,22,32,8.30,282.755525,17.6,7.4,0.01,10.5
3,2012,Developing,931971.0,96.0,49,96.0,96.0,1.2,22,33,8.21,265.285651,17.1,7.5,0.01,10.3
4,2011,Developing,94358.0,96.0,129,95.0,96.0,1.5,22,33,8.58,26.479973,16.6,7.6,4.16,9.9

In [9]:
train_data['Status'].replace({'Developing' : 0, 'Developed' : 1,}, inplace=True)
train_data.head()

C:\Users\hahmadi\AppData\Local\Temp\ipykernel_14636\963973973.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Status'].replace({'Developing' : 0, 'Developed' : 1,}, inplace=True)
C:\Users\hahmadi\AppData\Local\Temp\ipykernel_14636\963973973.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data['Status'].replace({'Developing' : 0, 'Developed' : 1,}, inplace=True)

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,Afghanistan,2015,0,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1
1,Afghanistan,2014,0,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0
2,Afghanistan,2013,0,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9
3,Afghanistan,2012,0,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8
4,Afghanistan,2011,0,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5

In [10]:
Test_data['Status'].replace({'Developing' : 0, 'Developed' : 1,}, inplace=True)
Test_data.head()

C:\Users\hahmadi\AppData\Local\Temp\ipykernel_14636\4149507847.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Test_data['Status'].replace({'Developing' : 0, 'Developed' : 1,}, inplace=True)
C:\Users\hahmadi\AppData\Local\Temp\ipykernel_14636\4149507847.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Test_data['Status'].replace({'Developing' : 0, 'Developed' : 1,}, inplace=True)

,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,2015,0,119927.0,94.0,9,94.0,94.0,0.7,21,31,NaN,33.681223,18.7,7.3,NaN,10.6
1,2014,0,989179.0,95.0,0,95.0,95.0,0.7,22,32,7.54,312.748979,18.2,7.4,0.01,10.6
2,2013,0,96186.0,96.0,0,96.0,96.0,1.0,22,32,8.30,282.755525,17.6,7.4,0.01,10.5
3,2012,0,931971.0,96.0,49,96.0,96.0,1.2,22,33,8.21,265.285651,17.1,7.5,0.01,10.3
4,2011,0,94358.0,96.0,129,95.0,96.0,1.5,22,33,8.58,26.479973,16.6,7.6,4.16,9.9

In [13]:
train_data.isnull().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                      32
thinness  1-19 years     32
Alcohol                 188
Schooling               160
dtype: int64

In [14]:
train_data.describe()

,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
count,2848.000000,2848.000000,2.204000e+03,2306.000000,2848.000000,2829.000000,2829.000000,2848.000000,2848.000000,2848.000000,2627.000000,2406.000000,2816.000000,2816.000000,2660.000000,2688.000000
mean,2007.500000,0.174157,1.283457e+07,81.076756,2083.082163,82.682220,82.451396,1.756461,28.359902,39.500000,5.935577,7664.398813,38.503374,4.847230,4.638932,12.060156
std,4.610582,0.379311,6.196094e+07,25.019068,10249.107207,23.434954,23.693936,5.148935,117.188032,159.800866,2.504439,14466.241793,19.955485,4.443695,4.064721,3.320160
min,2000.000000,0.000000,3.400000e+01,1.000000,0.000000,3.000000,2.000000,0.100000,0.000000,0.000000,0.370000,1.681350,1.000000,0.100000,0.010000,0.000000
25%,2003.750000,0.000000,1.967585e+05,77.000000,0.000000,78.000000,78.000000,0.100000,0.000000,0.000000,4.240000,477.541713,19.500000,1.600000,0.930000,10.200000
50%,2007.500000,0.000000,1.391756e+06,92.000000,16.000000,93.000000,93.000000,0.100000,3.000000,4.000000,5.760000,1841.086830,43.900000,3.300000,3.785000,12.400000
75%,2011.250000,0.000000,7.438947e+06,97.000000,336.750000,97.000000,97.000000,0.700000,20.000000,25.000000,7.530000,6265.658907,56.200000,7.125000,7.810000,14.300000
max,2015.000000,1.000000,1.293859e+09,99.000000,212183.000000,99.000000,99.000000,50.600000,1800.000000,2500.000000,17.600000,119172.741800,77.600000,27.700000,17.870000,20.700000

In [15]:
"""
columns = train_data.columns
for col in columns:  # لیست ستون‌هایی که می‌خواهید بررسی کنید
    Q1 = train_data[col].quantile(0.25)
    Q3 = train_data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # شناسایی داده‌های پرت
    outliers = (train_data[col] < lower_bound) | (train_data[col] > upper_bound)
    
    
    # محاسبه میانگین ستون (می‌توانید از میانگین غیر از داده‌های پرت استفاده کنید)
    mean_value = train_data[~outliers][col].mean()
    
    # جایگزینی داده‌های پرت با میانگین
    train_data.loc[outliers, col] = mean_value
    
"""

'\ncolumns = train_data.columns\nfor col in columns:  # لیست ستون\u200cهایی که می\u200cخواهید بررسی کنید\n    Q1 = train_data[col].quantile(0.25)\n    Q3 = train_data[col].quantile(0.75)\n    IQR = Q3 - Q1\n    lower_bound = Q1 - 1.5 * IQR\n    upper_bound = Q3 + 1.5 * IQR\n    \n    # شناسایی داده\u200cهای پرت\n    outliers = (train_data[col] < lower_bound) | (train_data[col] > upper_bound)\n    \n    \n    # محاسبه میانگین ستون (می\u200cتوانید از میانگین غیر از داده\u200cهای پرت استفاده کنید)\n    mean_value = train_data[~outliers][col].mean()\n    \n    # جایگزینی داده\u200cهای پرت با میانگین\n    train_data.loc[outliers, col] = mean_value\n    \n'

In [16]:
"""
for col in columns:  # لیست ستون‌هایی که می‌خواهید بررسی کنید
    Q1 = Test_data[col].quantile(0.25)
    Q3 = Test_data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # شناسایی داده‌های پرت
    outliers = (Test_data[col] < lower_bound) | (Test_data[col] > upper_bound)
    
    
    # محاسبه میانگین ستون (می‌توانید از میانگین غیر از داده‌های پرت استفاده کنید)
    mean_value = Test_data[~outliers][col].mean()
    
    # جایگزینی داده‌های پرت با میانگین
    Test_data.loc[outliers, col] = mean_value
    """

'\nfor col in columns:  # لیست ستون\u200cهایی که می\u200cخواهید بررسی کنید\n    Q1 = Test_data[col].quantile(0.25)\n    Q3 = Test_data[col].quantile(0.75)\n    IQR = Q3 - Q1\n    lower_bound = Q1 - 1.5 * IQR\n    upper_bound = Q3 + 1.5 * IQR\n    \n    # شناسایی داده\u200cهای پرت\n    outliers = (Test_data[col] < lower_bound) | (Test_data[col] > upper_bound)\n    \n    \n    # محاسبه میانگین ستون (می\u200cتوانید از میانگین غیر از داده\u200cهای پرت استفاده کنید)\n    mean_value = Test_data[~outliers][col].mean()\n    \n    # جایگزینی داده\u200cهای پرت با میانگین\n    Test_data.loc[outliers, col] = mean_value\n    '

In [17]:
train_data.describe()

,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
count,2848.000000,2848.000000,2.204000e+03,2306.000000,2848.000000,2829.000000,2829.000000,2848.000000,2848.000000,2848.000000,2627.000000,2406.000000,2816.000000,2816.000000,2660.000000,2688.000000
mean,2007.500000,0.174157,1.283457e+07,81.076756,2083.082163,82.682220,82.451396,1.756461,28.359902,39.500000,5.935577,7664.398813,38.503374,4.847230,4.638932,12.060156
std,4.610582,0.379311,6.196094e+07,25.019068,10249.107207,23.434954,23.693936,5.148935,117.188032,159.800866,2.504439,14466.241793,19.955485,4.443695,4.064721,3.320160
min,2000.000000,0.000000,3.400000e+01,1.000000,0.000000,3.000000,2.000000,0.100000,0.000000,0.000000,0.370000,1.681350,1.000000,0.100000,0.010000,0.000000
25%,2003.750000,0.000000,1.967585e+05,77.000000,0.000000,78.000000,78.000000,0.100000,0.000000,0.000000,4.240000,477.541713,19.500000,1.600000,0.930000,10.200000
50%,2007.500000,0.000000,1.391756e+06,92.000000,16.000000,93.000000,93.000000,0.100000,3.000000,4.000000,5.760000,1841.086830,43.900000,3.300000,3.785000,12.400000
75%,2011.250000,0.000000,7.438947e+06,97.000000,336.750000,97.000000,97.000000,0.700000,20.000000,25.000000,7.530000,6265.658907,56.200000,7.125000,7.810000,14.300000
max,2015.000000,1.000000,1.293859e+09,99.000000,212183.000000,99.000000,99.000000,50.600000,1800.000000,2500.000000,17.600000,119172.741800,77.600000,27.700000,17.870000,20.700000

In [18]:
train_data.isnull().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                      32
thinness  1-19 years     32
Alcohol                 188
Schooling               160
dtype: int64

In [19]:
Test_data.isnull().sum()

Year                     0
Status                   0
Population               0
Hepatitis B             11
Measles                  0
Polio                    0
Diphtheria               0
HIV/AIDS                 0
infant deaths            0
under-five deaths        0
Total expenditure        5
GDP                      1
BMI                      0
thinness  1-19 years     0
Alcohol                  5
Schooling                0
dtype: int64

In [20]:
import pandas as pd

# فرض کنید train_data و Test_data در دسترس هستند و هر دو شامل یک ستون 'Country' هستند

# مرحله 1: محاسبه میانگین و مدیان کشوری برای هر ستون
cols_with_na = train_data.isna().sum()[train_data.isna().sum() > 0].index.tolist()

col_means = {}
col_medians = {}

for col in cols_with_na:
    col_means[col] = train_data.groupby('Country')[col].transform('mean')
    col_medians[col] = train_data[col].median()

# مرحله 2: پر کردن مقادیر گم‌شده
for col in cols_with_na:
    # پر کردن با میانگین کشوری
    train_data[col] = train_data[col].fillna(col_means[col])
    
    # اگر هنوز مقادیری گم‌شده وجود دارد، آنها را با میانه پر کنید
    train_data[col] = train_data[col].fillna(col_medians[col])

# مرحله 3: پر کردن مقادیر گم‌شده در Test_data با میانگین و میانه محاسبه شده
for col in cols_with_na:
    # پر کردن با میانگین کشوری برای Test_data
    Test_data[col] = Test_data[col].fillna(train_data.groupby('Country')[col].transform('mean'))
    
    # اگر هنوز مقادیری گم‌شده وجود دارد، آنها را با میانه پر کنید
    Test_data[col] = Test_data[col].fillna(col_medians[col])

# بررسی مقادیر گم‌شده بعد از پر کردن
print("Train data missing values after filling:")
print(train_data.isnull().sum())

print("Test data missing values after filling:")
print(Test_data.isnull().sum())

Train data missing values after filling:
Country                 0
Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64
Test data missing values after filling:
Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

In [21]:
'''columns = ['Total expenditure','Alcohol', 'GDP','Hepatitis B']
for i in columns: 
    Test_data[i] = Test_data[i].fillna(Test_data[i].median())'''

"columns = ['Total expenditure','Alcohol', 'GDP','Hepatitis B']\nfor i in columns: \n    Test_data[i] = Test_data[i].fillna(Test_data[i].median())"

In [22]:
'''columns = ['Polio', 'Diphtheria', 'Population', 'Hepatitis B', 'Total expenditure', 'GDP', 'Alcohol', 'Schooling', 'BMI', 'thinness  1-19 years']
for i in columns: 
    train_data[i] = train_data[i].fillna(train_data[i].median())'''

"columns = ['Polio', 'Diphtheria', 'Population', 'Hepatitis B', 'Total expenditure', 'GDP', 'Alcohol', 'Schooling', 'BMI', 'thinness  1-19 years']\nfor i in columns: \n    train_data[i] = train_data[i].fillna(train_data[i].median())"

In [23]:
Test_data.isnull().sum()

Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

In [24]:
train_data.isnull().sum()

Country                 0
Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

In [25]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               2848 non-null   object
 1   Year                  2848 non-null   int64
 2   Status                2848 non-null   int64
 3   Population            2848 non-null   float64
 4   Hepatitis B           2848 non-null   float64
 5   Measles               2848 non-null   int64
 6   Polio                 2848 non-null   float64
 7   Diphtheria            2848 non-null   float64
 8   HIV/AIDS              2848 non-null   float64
 9   infant deaths         2848 non-null   int64
 10  under-five deaths     2848 non-null   int64
 11  Total expenditure     2848 non-null   float64
 12  GDP                   2848 non-null   float64
 13  BMI                   2848 non-null   float64
 14  thinness  1-19 years  2848 non-null   float64
 15  Alcohol               2848 non-null   float64
 16  Schooling             2848 non-null   float64
dtypes: float64(11), int64(5), object(1)
memory usage: 378.4+ KB

In [26]:
train_data.head()

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,Afghanistan,2015,0,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1
1,Afghanistan,2014,0,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0
2,Afghanistan,2013,0,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9
3,Afghanistan,2012,0,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8
4,Afghanistan,2011,0,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5

In [27]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               2848 non-null   object
 1   Year                  2848 non-null   int64
 2   Status                2848 non-null   int64
 3   Population            2848 non-null   float64
 4   Hepatitis B           2848 non-null   float64
 5   Measles               2848 non-null   int64
 6   Polio                 2848 non-null   float64
 7   Diphtheria            2848 non-null   float64
 8   HIV/AIDS              2848 non-null   float64
 9   infant deaths         2848 non-null   int64
 10  under-five deaths     2848 non-null   int64
 11  Total expenditure     2848 non-null   float64
 12  GDP                   2848 non-null   float64
 13  BMI                   2848 non-null   float64
 14  thinness  1-19 years  2848 non-null   float64
 15  Alcohol               2848 non-null   float64
 16  Schooling             2848 non-null   float64
dtypes: float64(11), int64(5), object(1)
memory usage: 378.4+ KB

In [28]:
numeric_columns1 = Test_data.select_dtypes(include=['float64']).columns
numeric_columns1

Index(['Population', 'Hepatitis B', 'Polio', 'Diphtheria', 'HIV/AIDS',
       'Total expenditure', 'GDP', 'BMI', 'thinness  1-19 years', 'Alcohol',
       'Schooling'],
      dtype='object')

In [29]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_data[numeric_columns1] = scaler.fit_transform(train_data[numeric_columns1])

In [30]:
train_data.head()

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,Afghanistan,2015,0,0.429370,-0.582196,1154,-3.258889,-0.729661,-0.321766,62,83,0.911339,-0.458175,-0.980669,2.798117,-1.143878,-0.613550
1,Afghanistan,2014,0,-0.181346,-0.703613,492,-1.044349,-0.856148,-0.321766,64,86,0.919464,-0.456063,-1.005861,2.865977,-1.143878,-0.644549
2,Afghanistan,2013,0,0.392722,-0.622668,430,-0.874000,-0.771823,-0.321766,66,89,0.899153,-0.454648,-1.031053,2.911217,-1.143878,-0.675548
3,Afghanistan,2012,0,-0.119754,-0.501252,2787,-0.661064,-0.645336,-0.321766,69,93,1.057580,-0.451810,-1.056244,2.956457,-1.143878,-0.706547
4,Afghanistan,2011,0,-0.132886,-0.460779,3013,-0.618476,-0.603174,-0.321766,71,97,0.793535,-0.496851,-1.076398,3.024316,-1.143878,-0.799544

In [31]:
numeric_columns = Test_data.select_dtypes(include=['float64']).columns

In [32]:

Test_data[numeric_columns] = scaler.transform(Test_data[numeric_columns])

In [33]:
Test_data.head()

,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,2015,0,-0.185142,0.591498,9,0.488793,0.493048,-0.205216,21,31,0.948915,-0.499068,-1.000822,0.558747,-1.142795,-0.458554
1,2014,0,-0.169252,0.631970,0,0.531381,0.535210,-0.205216,22,32,0.659482,-0.478341,-1.026014,0.581367,-1.143878,-0.458554
2,2013,0,-0.185576,0.672442,0,0.573968,0.577372,-0.146942,22,32,0.968211,-0.480569,-1.056244,0.581367,-1.143878,-0.489553
3,2012,0,-0.170298,0.672442,49,0.573968,0.577372,-0.108092,22,33,0.931651,-0.481866,-1.081436,0.603986,-1.143878,-0.551551
4,2011,0,-0.185610,0.672442,129,0.531381,0.577372,-0.049817,22,33,1.081953,-0.499603,-1.106628,0.626606,-0.116674,-0.675548

In [34]:
train_data.head()

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,Afghanistan,2015,0,0.429370,-0.582196,1154,-3.258889,-0.729661,-0.321766,62,83,0.911339,-0.458175,-0.980669,2.798117,-1.143878,-0.613550
1,Afghanistan,2014,0,-0.181346,-0.703613,492,-1.044349,-0.856148,-0.321766,64,86,0.919464,-0.456063,-1.005861,2.865977,-1.143878,-0.644549
2,Afghanistan,2013,0,0.392722,-0.622668,430,-0.874000,-0.771823,-0.321766,66,89,0.899153,-0.454648,-1.031053,2.911217,-1.143878,-0.675548
3,Afghanistan,2012,0,-0.119754,-0.501252,2787,-0.661064,-0.645336,-0.321766,69,93,1.057580,-0.451810,-1.056244,2.956457,-1.143878,-0.706547
4,Afghanistan,2011,0,-0.132886,-0.460779,3013,-0.618476,-0.603174,-0.321766,71,97,0.793535,-0.496851,-1.076398,3.024316,-1.143878,-0.799544

In [35]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               2848 non-null   object
 1   Year                  2848 non-null   int64
 2   Status                2848 non-null   int64
 3   Population            2848 non-null   float64
 4   Hepatitis B           2848 non-null   float64
 5   Measles               2848 non-null   int64
 6   Polio                 2848 non-null   float64
 7   Diphtheria            2848 non-null   float64
 8   HIV/AIDS              2848 non-null   float64
 9   infant deaths         2848 non-null   int64
 10  under-five deaths     2848 non-null   int64
 11  Total expenditure     2848 non-null   float64
 12  GDP                   2848 non-null   float64
 13  BMI                   2848 non-null   float64
 14  thinness  1-19 years  2848 non-null   float64
 15  Alcohol               2848 non-null   float64
 16  Schooling             2848 non-null   float64
dtypes: float64(11), int64(5), object(1)
memory usage: 378.4+ KB

In [36]:
train_data.isnull().sum()

Country                 0
Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

In [37]:
target

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
2843    44.3
2844    44.5
2845    44.8
2846    45.3
2847    46.0
Name: Life expectancy, Length: 2848, dtype: float64

In [38]:
 target

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
2843    44.3
2844    44.5
2845    44.8
2846    45.3
2847    46.0
Name: Life expectancy, Length: 2848, dtype: float64

<h3 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    استفاده از <code>scikit-learn</code>
</font>
</h3>


<div dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    برای الگوریتم رگرسیون چند‌جمله‌ای پکیج یکتایی در کتابخانه‌ی <code>scikit-learn</code> وجود ندارد. بنابراین برای استفاده از این الگوریتم، می‌بایست ابتدا ویژگی‌های دیتافریم را با استفاده از کلاس <code>PolynomialFeatures</code> که در پکیج <code>preprocessing</code> قرار دارد، به ویژگی‌های چندجمله‌ای تبدیل کنید. سپس از آن ویژگی‌های تغییریافته (<code>transformed</code>) برای آموزش یک رگرسیون خطی معمولی استفاده کنید.
    <br>
    برخی از آرگومان‌های مهم این کلاس در جدول زیر آمده است، اما برای مطالعه کامل‌تر مستندات می‌توانید به <a href="https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html">این لینک</a> مراجعه فرمایید.

</font>
</div>
    
<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
<br>

|آرگومان|نوع|توضیحات|
|:------:|:--------:|:---:|
|<code>degree</code>|<code>int</code> یا <code>tuple</code>|درجه چند جمله‌ای را نشان می‌دهد. به‌صورت پیش‌فرض عدد <code>2</code> است.<br> اگر به شکل <code>tuple</code> باشد، به شکل <code dir=ltr>(min_degree, max_degree)</code> تفسیر می‌شود.|
|<code>include_bias</code>|<code>bool</code>|آیا شامل بایاس باشد یا خیر. <br> در صورت <code>True</code> بودن، عدد <code>1</code> هم به چندجمله‌ای افزوده می‌شود. <br> (به این معنی که چندجمله‌ای‌های تولید‌شده حداقل از درجه‌ی <code>min_degree</code> و حداکثر از مرتبه‌ی <code>max_degree</code> خواهند بود.)|
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    کلاس <code>PolynomialFeatures</code> دارای سه متد به شرح زیر است: 
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|اسم متد|توضیحات|
|:------:|:---:|
|<code>fit</code>|تعداد جملات چندجمله‌ای خروجی را حساب می‌کند|
|<code>transform</code>|داده‌ی ورودی را به جملات چند‌جمله‌ای تبدیل می‌کند|
|<code>fit_transform</code>|ابتدا تابع <code>fit</code> و سپس تابع <code>transform</code> را اجرا می‌کند|

</font>
</div>
</center>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
آموزش مدل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در سلول پایین با استفاده از کتابخانه‌ی <code>scikit-learn</code> مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    برای ساختن ویژگی‌های چندجمله‌ای، شیء <code>poly_transformer</code> را مقداردهی کنید. بعداً در سلول جواب‌ساز این شیء ذخیره شده و در زمان داوری، مورد ارزیابی واقع خواهد شد.
    <br>
     سپس با ویژگی‌های چندجمله‌ای خروجی <code>poly_transformer</code> مدل رگرسیون خطی را آموزش دهید و آن را در شیء <code>model</code> ذخیره کنید. متغیر <code>model</code> در فرآیند داوری مورد ارزیابی واقع خواهد شد. بنابراین اطمینان حاصل کنید که از جنس <code>LinearRegression</code> باشد؛ در غیر این صورت نمره‌ای دریافت نخواهید کرد!
</font>
</p>

In [42]:
Test_data.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  80 non-null     bool
 1   Status                80 non-null     bool
 2   Population            80 non-null     bool
 3   Hepatitis B           80 non-null     bool
 4   Measles               80 non-null     bool
 5   Polio                 80 non-null     bool
 6   Diphtheria            80 non-null     bool
 7   HIV/AIDS              80 non-null     bool
 8   infant deaths         80 non-null     bool
 9   under-five deaths     80 non-null     bool
 10  Total expenditure     80 non-null     bool
 11  GDP                   80 non-null     bool
 12  BMI                   80 non-null     bool
 13  thinness  1-19 years  80 non-null     bool
 14  Alcohol               80 non-null     bool
 15  Schooling             80 non-null     bool
dtypes: bool(16)
memory usage: 1.4 KB

In [44]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2848 non-null   int64
 1   Status                2848 non-null   int64
 2   Population            2848 non-null   float64
 3   Hepatitis B           2848 non-null   float64
 4   Measles               2848 non-null   int64
 5   Polio                 2848 non-null   float64
 6   Diphtheria            2848 non-null   float64
 7   HIV/AIDS              2848 non-null   float64
 8   infant deaths         2848 non-null   int64
 9   under-five deaths     2848 non-null   int64
 10  Total expenditure     2848 non-null   float64
 11  GDP                   2848 non-null   float64
 12  BMI                   2848 non-null   float64
 13  thinness  1-19 years  2848 non-null   float64
 14  Alcohol               2848 non-null   float64
 15  Schooling             2848 non-null   float64
dtypes: float64(11), int64(5)
memory usage: 356.1 KB

In [43]:
train_data.drop(columns = 'Country', inplace = True)
train_data.head()

,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling
0,2015,0,0.429370,-0.582196,1154,-3.258889,-0.729661,-0.321766,62,83,0.911339,-0.458175,-0.980669,2.798117,-1.143878,-0.613550
1,2014,0,-0.181346,-0.703613,492,-1.044349,-0.856148,-0.321766,64,86,0.919464,-0.456063,-1.005861,2.865977,-1.143878,-0.644549
2,2013,0,0.392722,-0.622668,430,-0.874000,-0.771823,-0.321766,66,89,0.899153,-0.454648,-1.031053,2.911217,-1.143878,-0.675548
3,2012,0,-0.119754,-0.501252,2787,-0.661064,-0.645336,-0.321766,69,93,1.057580,-0.451810,-1.056244,2.956457,-1.143878,-0.706547
4,2011,0,-0.132886,-0.460779,3013,-0.618476,-0.603174,-0.321766,71,97,0.793535,-0.496851,-1.076398,3.024316,-1.143878,-0.799544

In [45]:
from sklearn.preprocessing import PolynomialFeatures

poly_transformer = PolynomialFeatures(degree = 2, include_bias = True) # To-Do

X_poly_train = poly_transformer.fit_transform(train_data)
X_poly_test = poly_transformer.transform(Test_data)

In [46]:
from sklearn.linear_model import LinearRegression

model = LinearRegression() # To-Do
model.fit(X_poly_train, target)

LinearRegression()

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>r2_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه‌ی آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [47]:
y_pred = model.predict(X_poly_train)

from sklearn.metrics import r2_score
score = r2_score(target, y_pred)
print(score)

0.8853630445756743

In [48]:
y_pred

array([61.53024126, 61.49823057, 62.3894654 , ..., 49.48664982,
       41.1231201 , 45.68398732])

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>50</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در مجموعه‌ی آزمون استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|<code>Life expectancy</code>|امید به زندگی پیش‌بینی‌شده|
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    توجه داشته باشید که نام دیتافریم باید <code>submission</code> باشد؛ در غیر این‌صورت، سامانه‌ی داوری قادر به ارزیابی خروجی شما نخواهد بود.
    این دیتافریم تنها شامل ۱ ستون با اسم <code>Life expectancy</code> است و ۸۰ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <code>test</code>، باید یک مقدار پیش‌بینی‌شده داشته باشید.
    به‌عنوان مثال جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، اعداد ستون <code>Life expectancy</code> ممکن است متفاوت باشد.
</font>
</p>

<center>
<div style="direction: ltr;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||<code>Life expectancy</code>|
|:----:|:-----:|
|0|70.1|
|1|65.2|
|2|50.0|
|3|81.72|
|4|75.25|

</font>
</div>
</center>

In [49]:
Test_data.isnull().sum()

Year                    0
Status                  0
Population              0
Hepatitis B             0
Measles                 0
Polio                   0
Diphtheria              0
HIV/AIDS                0
infant deaths           0
under-five deaths       0
Total expenditure       0
GDP                     0
BMI                     0
thinness  1-19 years    0
Alcohol                 0
Schooling               0
dtype: int64

In [50]:
y2_pred = model.predict(X_poly_test)
submission = pd.DataFrame({'Life expectancy' : y2_pred})

submission

    Life expectancy
0         64.947323
1         65.242627
2         64.671515
3         63.902340
4         63.431313
..              ...
75        56.516924
76        63.050521
77        59.171331
78        61.892038
79        62.968252

[80 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [51]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)


joblib.dump(poly_transformer, 'poly_transformer')
joblib.dump(model, 'model')
submission.to_csv('submission.csv', index=False)

file_names = ['poly_transformer', 'model', 'submission.csv', 'life_expectancy.ipynb']
compress(file_names)

File Paths:
['poly_transformer', 'model', 'submission.csv', 'life_expectancy.ipynb']

<h4 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
راهنمایی
</font>
</h4>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    ۱. در مراحل پیش‌پردازش از تغییر مقیاس ویژگی استفاده کنید.
    <br>
    ۲. مقادیر گم‌شده‌ی ویژگی‌ها را بررسی و مدیریت کنید.
</font>
</p>